@charset "UTF-8";

.footer_question{	
	text-align: right;
	font-weight: bold;
	font-size:20px;
}
.footer_question a{
	padding:10px;
	border:1px solid black;
	border-radius:22px;
	text-decoration: none;
	color:black;
}
.footer_menu{
	margin-top: 40px;
}
.footer_menu a{
	float:left;
	margin-left: 20px;
	text-decoration: none;
	color:black;
	font-size: 18px;
}
.footer_info{
	margin-top: 40px;
	margin-left: 20px;
}