@charset "UTF-8";

.container{
	margin:0 auto;
	width:80%;	
}

#signUpForm{
	/*정 가운데 배치 */
	display: flex;
	flex-direction:column;	
	justify-content: center;
	align-items: center;
	height: 80vh;
	font-size: 16px;
}

#signUpBtn{height: 500px;}

table{ height: 90%;}

.td_left{text-align: center;}

#submit{
	width: 100%;
	background-color: red;}